GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_MODE=dev
INTERNAL_API_KEY=dev-internal-key
CORS_ALLOWED_ORIGINS=https://localhost,http://localhost,http://localhost:5173,http://localhost:8088,https://static.128.216.108.65.clients.your-server.de
OFF_BASE_URL=https://world.openfoodfacts.org
OFF_USER_AGENT=NutriTrack - Server - Version 0.1
